<div class="form-group row">
  <div class="col-4">
    <label for="<%= field %>" class="control-label"><%= label %></label>
  </div>
  <div class="col-8">
    <input 
       id="<%= field %>"
       name="<%= field %>"
       class="form-control"
       ng-class="{'is-invalid': <%= ng_errors %>}"
       ng-model="<%= ng_model %>"
       placeholder="<%= placeholder %>"
       type="text" />

    <div class="invalid-feedback" ng-repeat="error in <%= ng_errors %>">
      {{error}}
    </div>
  </div>
</div>
