<button ng-click="<%= ng_click %>"
        ng-disabled="<%= ng_disabled %>"
        type"submit"
        ng-hide="<%= ng_hide %>"
        ng-show="<%= ng_show %>"
        class="btn <%= classes %>">
        <%= text %>
</button>

