<div class="card form-simulation-contagion-block">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">
      Contagion
    </h4>
  </div>
  <div class="card-body">
    <%= form.input(:lethality,placeholder: "0.9") %>
    <%= form.input(:days_till_recovery,placeholder: "15") %>
    <%= form.input(:days_till_sympthoms, placeholder: "7") %>
    <%= form.input(:days_till_start_death, placeholder: "10") %>
    <%= form.input(:days_till_contagion, placeholder: "0") %>
  </div>
</div>
