<div class="card shadow-sm form-simulation-contagion-block">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">
      Behaviors
    </h4>
  </div>
  <div class="card-body">
    <span ng-class="{'is-invalid': gnc.data.settings.errors.behaviors}" />
    <div class="invalid-feedback" ng-repeat="error in gnc.data.settings.errors.behaviors">
      {{error}}
    </div>
    <ul class="list-group mt-3 mb-4">
      <li class="list-group-item" ng-repeat="behavior in gnc.data.settings.behaviors">
        <% form.with_model(:behavior, base: nil) do |f| %>
          <%= f.input(:name, placeholder: "General") %>
          <%= f.input(:interactions, placeholder: '15') %>
          <%= f.input(:contagion_risk, placeholder: '0.5') %>
          <%= f.input(:reference) %>
          <%= f.button(
            ng_click: 'gnc.removeBehavior($index)',
            classes: 'btn-secondary',
            text: '-'
          )%>
        <% end %>
      </li>
    </ul>
    <%= form.button(ng_click: 'gnc.addBehavior()', classes: 'btn-secondary', text: '+')%>
  </div>
</div>

