<div ng-controller="Simulation.GraphController as graph">
  <% magicka_display('graph') do |form| %>
    <% form.with_model(:simulation) do |simulation| %>
      <%= simulation.input(:status, label: 'Processing status') %>
      <%= simulation.input(:instants_total, label: 'Calculated instants') %>
      <%= simulation.input('instants.length', label: 'Loaded instants') %>
    <% end %>

    <%= form.input(:mode) %>

    <%= form.ng_button(
      nil,
      ng_click: 'graph.pause()',
      classes: 'btn-primary',
      ng_hide: "! graph.process",
      text: 'Pause'
    ) %>

    <%= form.ng_button(
      nil,
      ng_click: 'graph.unpause()',
      classes: 'btn-primary',
      ng_hide: "graph.process",
      text: 'Process'
    ) %>

    <table>
      <thead>
        <tr>
          <th></th>
          <th colspan="5">Count</th>
          <th colspan="4">Percentage</th>
        </tr>
        <tr>
          <th>Day</th>
          <th>Healthy</th>
          <th>Infected</th>
          <th>Immune</th>
          <th>Dead</th>
          <th>Total</th>
          <th>Healthy</th>
          <th>Infected</th>
          <th>Immune</th>
          <th>Dead</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="instant in graph.simulation.instants">
          <td>{{instant.day}}</td>
          <td>{{instant.healthy}}</td>
          <td>{{instant.infected}}</td>
          <td>{{instant.immune}}</td>
          <td>{{instant.dead}}</td>
          <td>{{instant.total}}</td>
          <td>{{instant.healthy_percentage}}</td>
          <td>{{instant.infected_percentage}}</td>
          <td>{{instant.immune_percentage}}</td>
          <td>{{instant.dead_percentage}}</td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
