<div class="form-group row">
  <div class="col-5">
    <label for="<%= field %>" class="control-label"><%= label %></label>
  </div>
  <div class="col-7">{{<%= ng_model %> | select_transformer:<%= options %>:'<%= reference_key %>' | dig:'<%= text_field %>' }}</div>
</div>
