<nav>
  <ul class="pagination">
    <li class="page-item" ng-show="<%= current_page %> > 1">
      <%= angular_safe_link_to(
        path_method, {
          page: "{{ #{pagination}.page-1 }}",
          per_page: "{{ #{pagination}.perPage }}"
        }.merge(options),
        'aria-label' => 'Previous',
        'class' => 'page-link'
      ) do %>
        <span aria-hidden="true">&laquo;</span>
      <% end %>
    </li>
    <li class="page-item" ng-repeat="page in <%= pagination %>.pagination track by $index" class="{{ <%= current_page %> == page ? 'active' : '' }}">
      <%= angular_safe_link_to(
        path_method, {
          page: '{{ page }}',
          per_page: "{{ #{pagination}.perPage }}"
        }.merge(options),
        'ng-show' => 'page',
        'class' => 'page-link'
      ) do %>
        {{ page }} <span class="sr-only" ng-show="<%= current_page %> == page">(current)</span>
      <% end %>
       <span ng-show="!page" class="page-link disabled">&#8230;</span>
    </li>
    <li class="page-item" ng-show="<%= current_page %> < <%= total_pages %>">
      <%= angular_safe_link_to(
        path_method, {
          page: "{{ #{pagination}.page + 1 }}",
          per_page: "{{ #{pagination}.perPage }}"
        }.merge(options),
        'aria-label' => 'Next',
        'class' => 'page-link'
      ) do %>
        <span aria-hidden="true">&raquo;</span>
      <% end %>
    </li>
  </ul>
</nav>
