<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <!-- Botão "Anterior" -->
    <li class="page-item" ng-class="{disabled: <%= current_page %> <= 1}">
      <%= angular_safe_link_to(
        path_method, {
          page: previous_page,
          per_page: per_page
        }.merge(options),
        'aria-label' => 'Previous',
        'class' => 'page-link',
        'ng-disabled' => "#{current_page} <= 1"
      ) do %>
        <span aria-hidden="true">&laquo;</span>
      <% end %>
    </li>

    <!-- Páginas -->
    <li
      ng-repeat="page in <%= pages_list %> track by $index"
      class="page-item"
      ng-class="{active: <%= current_page %> == page}">
      <%= angular_safe_link_to(
        path_method, {
          page: '{{ page }}',
          per_page: per_page
        }.merge(options),
        'ng-show' => 'page',
        'class' => 'page-link'
      ) do %>
        {{ page }}
      <% end %>
    <span ng-show="!page" class="page-link disabled">&#8230;</span>
    </li>

    <!-- Botão "Próximo" -->
    <li class="page-item" ng-class="{disabled: <%= current_page %> >= <%= total_pages %>}">
      <%= angular_safe_link_to(
        path_method, {
          page: next_page,
          per_page: per_page
        }.merge(options),
        'aria-label' => 'Next',
        'class' => 'page-link',
        'ng-disabled' => "#{current_page} >= #{total_pages}"
      ) do %>
        <span aria-hidden="true">&raquo;</span>
      <% end %>
    </li>
  </ul>
</nav>
